<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>TF2 BP Viewer</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
    </head>
    <body>
        <!-- Begin navbar -->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ url_for('index') }}">
                        TF2BV
                    </a>
                    <ul class="nav">
                        <li class="active">
                            <a href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li><a href="{{ url_for('search') }}">Search</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                    </ul>
                    <form action="{{ url_for('result') }}" class="navbar-search pull-left">
                        <input name="s" type="text" class="search-query" placeholder="Enter an ID..">
                        <select name="t" id="select01">
                            <option value="profile">Profile Name</option>
                            <option value="steamid64">SteamID 64</option>
                            <option value="steamid">SteamID</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <!-- End navbar -->
        
        <!-- Begin hero unit -->
        <div class="hero-unit">
            <h1>TF2 Backpack Viewer</h1>
            <p>Grab TF2 items from any user's backpack, in style.</p>
            <p>
                <a class="btn btn-primary btn-large" href="{{ url_for('search') }}">
                    Start a search now
                </a>
                or simply use the search bar at the top of the page.
            </p>
        </div>
        <!-- End hero unit -->
        
        <!-- Begin content -->
        <div class="well">
            <h2>News</h2>
            <h3>Finally, it's complete.</h3>
            <p>I've added as much functionality to the site as I currently can. Enjoy it, and please help by by reporting bugs or issues.</p>
        </div>
        <!-- End content -->
        
        <!-- Begin footer -->
        <div class="well" align="center">
            <p>Site made using Twitter Bootstrap. Today's date: {{ date }}</p>
        </div>
        <!-- End footer -->
    </body>
</html>