{% extends "base.html" %}

<!-- Document title -->
{% block title %}Search{% endblock %}

<!-- Javascript -->
{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-latest.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.tablesorter.js') }}"></script>
    <script type="text/javascript" id="js">
    $(document).ready(function() 
        { 
            $("#results").tablesorter();
        } 
    ); 
    </script>
{% endblock %}

<!-- Navbar -->
{% block links %}
    <ul class="nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li class="active"><a href="{{ url_for('search') }}">Search</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
{% endblock %}

<!-- Body -->
{% block body %}
    <!-- Begin form -->
    <div class="well">
        <h1>Search</h1>
        <br />
        <p>You can enter one of three identifiers:</p>
        <ul>
            <li>Profile name (http://steamcommunity.com/id/xxxxxxxxxx)</li>
            <li>Steam ID 64 (765611xxxxxxxx)</li>
            <li>Old Steam ID (STEAM_X:X:XXXXX)</li>
        </ul>
        <p>Be sure to select the corresponding format from the dropdown menu before submitting, or else you'll get an error.</p>      
        <br />
        <form action="{{ url_for('result') }}" class="form-search">
            <input type="text" class="input-xlarge search-query" placeholder="Enter an ID.." name="s">
            <select name="t" id="select01">
                <option value="profile">Profile Name</option>
                <option value="steamid64">SteamID 64</option>
                <option value="steamid">SteamID</option>
            </select>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <!-- End form -->
    
    <!-- Begin result -->
    {% block results %}{% endblock %}
    <!-- End result -->
{% endblock %}